click_log
click_completion
docutils>=0.15
sphinx>=2,<4
myst-nb~=0.10.1
jsonschema
sphinx_togglebutton
sphinx-copybutton
sphinx-comments
sphinxcontrib-bibtex~=1.0.0
sphinx_book_theme>=0.0.39
sphinx-thebe>=0.0.6
sphinx-panels~=0.5.2
nested-lookup~=0.2.21
markdown-it-py==0.5.4
